{% extends "base.html" %}
{% load static %}

{% block title %}Search{% endblock title %}

{% block content %}

<h1>Search Tweets</h1>

<br>

<form action="" method="POST">
{% csrf_token %}

    <input type="input" class="form-control" placeholder="Search Tweets" name="search" required>
    <br>
    <button type="submit" class="btn btn-secondary">Search Tweet</button>

</form> 
<br><br>

{% if search %}

    <h3>You searched for: {{search}}</h3>

    <br>

{% endif %}

{% for tweet in searched %}

    <div class="alert alert-dark" role="alert">
        <div class="container">
            <div class="row">

                <div class="col-1">
                    {% if tweet.user.profile.profile_image %}
                        <a href="{% url "twitter:profile" tweet.user.id %}" draggable="false">
                            <img src="{{tweet.user.profile.profile_image.url}}" class="rounded-circle" alt="profile image" 
                                width="50px" height="50px" draggable="false" oncontextmenu="return false;">
                        </a>
                    {% else %}
                        <a href="{% url "twitter:profile" tweet.user.id %}" draggable="false">
                            <img src="{% static "images/user.jpg" %}" class="rounded-circle" alt="Profile Image" 
                                width="50px" height="50px" draggable="false" oncontextmenu="return false;">
                        </a>
                    {% endif %}
                </div>

                <div class="col-10">
                    <strong>{{tweet.body}}</strong><br>
                    <small class="text-muted">
                        {{tweet.created_at}} by 
                        <a href="{% url "twitter:profile" tweet.user.id %}" style="text-decoration: none;">
                            @{{tweet.user}}
                        </a>
                        &nbsp;
                        {{tweet.number_of_likes}} 
                        {% if not user in tweet.likes.all %}
                            <a href="{% url "twitter:tweet_like" tweet.id %}" id="like" style="text-decoration: none; color:red;" disabled>
                                <i class="fa fa-heart-o"></i>
                            </a>
                        {% else %}
                            <a href="{% url "twitter:tweet_like" tweet.id %}" id="like" style="text-decoration: none; color:red;" disabled>
                                <i class="fa-solid fa-heart"></i>
                            </a>
                        {% endif %}
                        &nbsp;
                        <a href="{% url "twitter:tweet_share" tweet.id %}" style="text-decoration: none; color:gray;">
                            <i class="fa-solid fa-share"></i>
                        </a>
                    </small>
                </div>

            </div>
        </div> 
    </div>

{% endfor %}

<br><br>
{% endblock content %}